<div class="mt-4">
    <div class="alert alert-success" role="alert">
    Đặt món thành công !!! Cảm ơn quý khách. Chúc quý khách ngon miệng
    </div>

    <p class="back"></p>
    <a href="/menu">Quay về trang chủ</a>

</div>

<script>
    var second = 5
    setTimeout(()=>{
        window.location.href ='/menu'
    },5000)
</script>