<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nhà hàng ...</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <i class="fa-solid fa-house-user"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/menu">Thực đơn</a>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tùy chọn
                </span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/menu/manage">Quản lí món ăn</a></li>
                    <li><a class="dropdown-item" href="/order/manage">Quản lí đơn hàng</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
        <div class="ms-auto">
            <a class="btn btn-danger" href="/order" role="button">Đặt món ngay</a>
        </div>
    </div>
  </div>
</nav>