<div class="mt-4">
    <form method="post" action="./upload" enctype="multipart/form-data">
        <h1>Tạo món mới</h1>
        <div class="mb-3 mt-4">
            <label for="name" class="form-label">Tên món</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="price">Giá tiền</label>
            <input type="number" class="form-control" id="price" name="price" step="1000">
        </div>
        <div class="mb-3">
            <select name="status" id="status" class="form-select">
                <option value="#" disabled selected>-- Chọn trạng thái món --</option>
                <option value="new">Món mới</option>
                <option value="hot">Món bán chạy</option>
                <option value="soldout">Món đã hết bán</option>
                <option value="normal">Bình thường</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Link hình ảnh</label>
            <input type="file" class="form-control" id="image" accept="image/*" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Thêm món</button>
    </form>
</div>

